
.ajax-data{
    min-height:200px;
    overflow-y:auto;
    padding-bottom: 24px;
      
}

.ajax-spinner{
    display:flex;
    height:200px;
    justify-content: center;
    padding-bottom: 24px;
}

.ajax-error{
    height:200px;
    overflow-y:auto;
    padding-bottom: 24px;
}

.hidden{
    display:none;
}

