<md-toolbar color="primary">
    <span>Welcome to {{title}}!</span>
    <span class="nav-spacer"></span>
    
    <!-- menu items -->
    <md-icon
        [mdMenuTriggerFor]="menu"
        class="nav-icon">more_vert</md-icon>

    <md-menu #menu="mdMenu">
        <button md-menu-item
            *ngFor="let item of menuItems"
            [routerLink]="item.path">
            <md-icon>{{item.icon}}</md-icon>
            <span>{{item.label}}</span>
        </button>
    </md-menu>
</md-toolbar>

<router-outlet></router-outlet>

